body{
	display: grid;
	background-image: url('img/back.webp'); 
	grid-template-columns: 3fr 2fr;
	background-size: cover;
}
.shop{
	background: #00000080;
}
.personage{
	width: 600px;
}
.money{
	display: flex;
	font-size: 36px;
	color: #FFFFFF;
}
.money img{
	height: 36px;
}
.level{
	position:relative;
	border-radius: 20px;
	height: 40px;
	width: 320px;
	margin: 20px auto; 
	border: 2px solid #000000;
}
.level__name{
	font-size: 36px;
	color: #FFFFFF;
	position: absolute;
	top: -32px;
}
.level__progress{
	width:50%;
	height: 100%;
	background: #FF0000;
}
.shop__title{
	font-size: 36px;
	width: 100%;
	color: #FFF;
	background: #0000FF;
	text-align: center;
	padding: 20px;
	
}
.product__item{
	width: 80%;
	background: #FFFFFF;
	margin: 12px 10%;
	padding: 12px;
	border: 2px solid #0000FF;
	border-radius: 8px;  
	
	
	
}
.product__title{
	font-size: 24px;
	color: #0000FF;
}